@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --ff-san: "Noto Sans", sans-serif;;

    --fw-light: 300;
    --fw-regular: 500;
    --fw-bold: 700;

    --fs-400: 0.9275rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;

    --clr-neutral-900: hsl(227, 75%, 14%);
    --clr-neutral-800: hsl(226, 25%, 17%); 
    --clr-neutral-700: hsl(224, 26%, 16%);
    --clr-neutral-600: hsl(226, 11%, 37%); 
    --clr-neutral-300: hsl(0, 0%, 78%);
    --clr-neutral-200: hsl(217, 61%, 90%);
    --clr-neutral-100: hsl(0, 0%, 93%);
    --clr-neutral:hsl(200, 60%, 99%);

    --clr-red-400: hsl(3, 86%, 64%);
    --clr-red-500: hsl(3, 71%, 56%);
    --clr-red-700: hsl(3, 77%, 44%);

/* Light Mode */
    --clr-gradient: linear-gradient(180deg, #ECF3FD 0%, #EFFBFB 100%);
    --clr-card: hsl(220, 100%, 99%); 
    --clr-card-border: hsl(0, 0%, 78%);
    --clr-mode: hsl(330, 6%, 93%);
    --clr-btn: hsl(220, 100%, 99%);
    --clr-h1: hsl(227, 85%, 13%);
    --clr-btn_border: hsl(226, 11%, 37%);
    --clr-bg-toggle: hsl(0, 0%, 78%);
    --clr-btn-text-inverse: hsl(200, 60%, 99%);
}




.dark{
     --ff-san: "Noto Sans", sans-serif;;

    --fw-light: 300;
    --fw-regular: 500;
    --fw-bold: 700;

    --fs-400: 0.9275rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;

    --clr-neutral-900: hsl(227, 75%, 14%);
    --clr-neutral-800: hsl(226, 25%, 17%); 
    --clr-neutral-700: hsl(224, 26%, 16%);
    --clr-neutral-600: hsl(226, 11%, 37%); 
    --clr-neutral-300: hsl(0, 0%, 78%);
    --clr-neutral-200: hsl(217, 61%, 90%);
    --clr-neutral-100: hsl(0, 0%, 93%);
    --clr-neutral:hsl(200, 60%, 99%);

    --clr-red-400: hsl(3, 86%, 64%);
    --clr-red-500: hsl(3, 71%, 56%);
    --clr-red-700: hsl(3, 77%, 44%);

    /* Dark Mode */
    --clr-gradient: linear-gradient(180deg, #050A1D 0%, #09153F 100%);
    --clr-card: hsl(224, 26%, 16%); 
    --clr-card-border: hsl(228, 23%, 24%);
    --clr-mode: hsl(228, 23%, 24%);
    --clr-btn: hsl(228, 23%, 24%);
    --clr-h1: hsl(200, 60%, 99%);
    --clr-btn_border: hsl(226, 11%, 37%);
    --clr-bg-toggle: hsl(224, 12%, 37%);
    --clr-btn-text-inverse: hsl(227, 85%, 13%);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--ff-san);
    font-weight: var(--fw-regular);
    line-height: 1.7;
}

body{
    background: var(--clr-gradient);
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 1rem;
  
}



/* Head section */
.head_wrapper{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-card);
    margin-block-start: 1rem;
    border-radius: 1rem;
}

.mode{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--clr-mode);
    border: 1px solid var(--clr-mode);
    cursor: pointer;
}

.mode:active{
    border-color:var(--clr-red-400);
}


/* List section */
.list_wrapper{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1rem;
    flex-direction: column;
}

.list_wrapper h1{
    font-size: var(--fs-600);
    color: var(--clr-h1);
}


.list_wrapper button{
    padding: 0.5rem 1rem;
    border-radius: 1.125rem;
    border:1px solid var(--clr-card-border);
    background-color: var(--clr-btn);
    color: var(--clr-h1);
    font-family: var(--ff-san);
    cursor: pointer;
}

.list_wrapper_btn_activated{
    background-color: var(--clr-red-400) !important;
    color: var(--clr-btn-text-inverse) !important;
    border-color:var(--clr-red-400) !important;
}


.list_wrapper button:active{
    border-color:var(--clr-red-400);
    background-color: var(--clr-btn);
     color: var(--clr-h1);
}


.layout{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* min-height: 63vh; 63 was selected through trial and error to keep the page from shrinking as the cards are removed */
}



/* Card content */
.card{
    flex: 1;
    min-width: 300px; /*to keep it responsive min and max width are setup*/
    max-width: 345px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-card);
    border: 1px solid var(--clr-card-border);
    color: var(--clr-h1);

}

.card > *{
    display: inherit;
    flex-direction: row;
    align-items: start;
    margin: 1rem;
}

.text_wrapper{
    margin-inline-start: 1rem;
}

.text_wrapper h2{
    font-size: var(--fs-500);
}

.text_wrapper p{
    font-size: var(--fs-400);
    overflow-wrap: break-word;
    font-weight: var(--fw-light);
}



/* Remove Button Section */
.btn_wrapper{
    display: inherit;
    justify-content: space-between;
    align-items: end;
}

.btn_wrapper button{
    padding: 0.4rem 0.75rem;
    border-radius: 1rem;
    background-color: var(--clr-card);
    color: var(--clr-h1);
    border: 1px solid var(--clr-btn_border);
    font-family: var(--ff-san);
    cursor: pointer;
}

.btn_wrapper button:hover{
    background-color: var(--clr-red-400);
    border-color:var(--clr-red-400);
    color: var(--clr-btn-text-inverse);
}

.btn_wrapper button:active{
    border-color:var(--clr-red-400);
    background-color: var(--clr-btn);
     color: var(--clr-h1);
}



/* toggle button section */

.toggle{
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-bg-toggle);
    border: 2px solid var(--clr-bg-toggle);
    position: relative;
    display: flex;
    align-items: center;
}

.toggle div{
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    transition: 0.2s;
}


/* Footer section */
.footer{
    max-width: auto;
    text-align: center;
    margin-top: 2rem;
    color: var(--clr-h1);
}

footer p{
    margin: 1rem;
}

footer a{
    text-decoration: none;
    color: var(--clr-h1);
}

footer a:hover{
    color: var(--clr-red-400);
}


@media (min-width: 800px){
    .list_wrapper{
        flex-direction: row;
    }
}

@media(prefers-color-scheme: dark){
    :root{
    --clr-gradient: linear-gradient(180deg, #050A1D 0%, #09153F 100%);
    --clr-card: hsl(224, 26%, 16%); 
    --clr-card-border: hsl(228, 23%, 24%);
    --clr-mode: hsl(228, 23%, 24%);
    --clr-btn: hsl(228, 23%, 24%);
    --clr-h1: hsl(200, 60%, 99%);
    --clr-btn_border: hsl(226, 11%, 37%);
    --clr-bg-toggle: hsl(224, 12%, 37%);
    --clr-btn-text-inverse: hsl(227, 85%, 13%);
    }
}
